.user_credentials_bg_color{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #0e172aff 0.0%, #172242ff 48.144%, #1d3058ff 100.0%);
}

.border_color{
    -fx-border_color: white;
}

.closeBtnLogin{
    -fx-background-color: #1C2E55;
    -fx-background-radius: 100;
}
.closeBtnLogin:hover{
    -fx-background-color: #1C2E55;
    -fx-background-radius: 100;
}
.closeBtnLogin:pressed{
    -fx-background-color: #F3000C;
    -fx-background-radius: 100;
}

.minimizeBtnLogin{
    -fx-background-color: #1C2E55;
    -fx-background-radius: 100;
}
.minimizeBtnLogin:hover{
    -fx-background-color: #1C2E55;
    -fx-background-radius: 100;
}
.minimizeBtnLogin:pressed{
    -fx-background-color: #407BFF;
    -fx-background-radius: 100;
}

/*close image css*/
.close_img{
    -fx-graphic: url(Close_blue.png);
}
.close_img:pressed{
    -fx-graphic: url(Close.png);
}
.close_img:hover{
    -fx-graphic: url(Close.png);
}

/*minimize image css*/
.minimize_img{
    -fx-graphic: url(minimize_blue.png);
}
.minimize_img:pressed{
    -fx-graphic: url(minimize.png);
}
.minimize_img:hover{
    -fx-graphic: url(minimize.png);
}

.labelBtns{
    -fx-font-weight: normal;
}
.labelBtns:hover{
    -fx-font-weight: bold;
}
.labelBtns:pressed{
    -fx-font-weight: normal;
}